#Python
__pycache__/

#Mac
.DS_Store

#Environment
*venv/
.env.development

#Code editors
.vscode/
.idea/
tools

#Coverage.py
.coverage
coverage_results/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
