<!-- Page header -->
<header class="p-3 bg-dark">
    <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'home:home' %}" class="d-flex align-items-center mb-2 mb-lg-0 link-light text-decoration-none">
            <i class="bi bi-journal-text" style="font-size: 2rem;" title="Recipe Manager"></i>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'home:home' %}"
                    class="nav-link px-2 link-light{% if active_item == 'home' %} text-secondary active{% endif %}">Home</a>
            </li>
            <li><a href="{% url 'recipes:index' %}"
                    class="nav-link px-2 link-light{% if active_item == 'recipes' %} text-secondary active{% endif %}">Recipes</a>
            </li>
            <li><a href="{% url 'ingredients:index' %}"
                    class="nav-link px-2 link-light{% if active_item == 'ingredients' %} text-secondary active{% endif %}">Ingredients</a>
            </li>
        </ul>

        <!-- 
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
            <button type="button" class="btn btn-outline-light me-2">Login</button>
            <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
        -->

        <div class="dropdown text-end">
            <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
                data-bs-toggle="dropdown">
                <i class="bi bi-person-square" style="font-size: 2rem;" title="My Profile"></i>
            </a>
            <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                <li><a class="dropdown-item" href="#">New recipe...</a></li>
                <li><a class="dropdown-item" href="#">New ingredient...</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- end: Page header -->