<!-- Page header -->
<header class="p-3 bg-dark">
    <div class="container d-flex flex-wrap align-items-center justify-content-start">
        <a href="{% url 'home:home' %}" class="d-flex align-items-center mb-0 link-light text-decoration-none">
            <i class="bi bi-journal-text" style="font-size: 2rem;" title="Recipe Manager"></i>
        </a>

        <ul class="nav col-auto me-auto mb-0 justify-content-center">
            <li><a href="{% url 'home:home' %}"
                    class="nav-link px-2 link-light{% if active_item == 'home' %} text-secondary active{% endif %}">Home</a>
            </li>
            <li><a href="{% url 'recipes:index' %}"
                    class="nav-link px-2 link-light{% if active_item == 'recipes' %} text-secondary active{% endif %}">Recipes</a>
            </li>
            <li><a href="{% url 'ingredients:index' %}"
                    class="nav-link px-2 link-light{% if active_item == 'ingredients' %} text-secondary active{% endif %}">Ingredients</a>
            </li>
        </ul>

        <!-- 
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>
        -->

        {% if user.is_authenticated %}
        <div class="dropdown text-end">
            <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1"
                data-bs-toggle="dropdown">
                <i class="bi bi-person-square" style="font-size: 2rem;" title="My Profile"></i>
            </a>
            <ul class="dropdown-menu text-small">
                <li class="dropdown-item">Hello, {{ user.username }}</li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'recipes:create' %}">New recipe...</a></li>
                <li><a class="dropdown-item" href="{% url 'ingredients:create' %}">New ingredient...</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Site Administration</a></li>
                <li><a class="dropdown-item" href="{% url 'accounts:signout' %}">Sign out</a></li>
            </ul>
        </div>
        {% else %}
        <div class="text-end">
            <div class="btn-group" role="group" aria-label="Account management">
                <a href="{% url 'accounts:login' %}" role="button" class="btn btn-success">Login</a>
                <a href="{% url 'accounts:signup' %}" role="button" class="btn btn-warning">Sign-up</a>
            </div>
        </div>
        {% endif %}

    </div>
</header>
<!-- end: Page header -->