{% extends 'base.html' %}

{% block title %}{{ recipe.name }} - A recipe on {{ block.super }}{% endblock %}

{% block header %}{% include "header.html" with active_item="recipes" %}{% endblock header %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'recipes:index' %}">Recipes</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ recipe.name }}</li>
{% endblock breadcrumb %}

{% block content %}
<h1>{{ recipe.name }} <small class="text-muted">#{{ recipe.id }}</small></h1>
<table class="table table-sm table-striped table-hover">
    <thead>
        <tr>
            <th>Ingredient</th>
            <th class="text-end">Amount</th>
            <th class="text-end">Ingredient cost</th>
        </tr>
    </thead>
    <tbody>
        {% for recipeingredient in recipe.recipeingredient.all %}
        <tr>
            <td>
                <a href="{% url 'ingredients:detail' recipeingredient.ingredient.id %}">{{ recipeingredient.ingredient.name }}</a><br>
                <small><em>cost: {{ recipeingredient.ingredient.formatted_cost }}</em></small>
            </td>
            <td class="text-end">{{ recipeingredient.amount }} {{ recipeingredient.measurement_unit }}</td>
            <td class="text-end">{{ recipeingredient.formatted_cost }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"><strong>Total recipe cost</strong></td>
            <td class="text-end"><strong>{{ recipe.formatted_total_cost }}</strong></td>
        </tr>
    </tfoot>
</table>
<p>
    <em>posted by</em> {{ recipe.author }} <em>on</em> {{ recipe.created_at }}<br>
    <em>last updated at</em> {{ recipe.updated_at }}
</p>
{% if user.is_authenticated %}
<p>
    <a href="{% url 'recipes:edit' recipe.id %}" role="button" class="btn btn-sm btn-warning">Edit recipe</a>
</p>
{% endif %}
{% endblock %}