{% extends 'base.html' %}

{% block title %}{{ recipe.name }} - A recipe on {{ block.super }}{% endblock %}

{% block header %}{% include "header.html" with active_item="recipes" %}{% endblock header %}

{% block breadcrumb %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'recipes:index' %}">Recipes</a></li>
<li class="breadcrumb-item"><a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Edit</li>
{% endblock breadcrumb %}

{% block content %}

<div class="row justify-content-center">

    {% if success %}
    <div class="alert alert-success" role="alert">{{ success }}</div>
    {% endif %}

    {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}

    <div class="col-12 col-md-9 col-lg-6">

        <h1>Editing {{ recipe.name }}</h1>
        <p>&nbsp;</p>

        <form method="POST" action="{% url 'recipes:edit' recipe.id %}" class="border rounded-3 p-3">

            {% csrf_token %}

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name_input" name="name" placeholder="Recipe's name"
                    value="{{ recipe.name }}" required>
                <label for="name_input">Name</label>
            </div>

            <fieldset>
                <legend>Recipe's ingredients</legend>
                <table id="current_ingredients" class="table table-sm table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Ingredient</th>
                            <th class="text-end">Amount</th>
                            <th>Unit</th>
                            <th class="text-end">Ingredient cost</th>
                            <th class="text-end">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ingredient in recipe.ingredients.all %}
                        <tr>
                            <td>
                                <input type="hidden" name="ingredients"
                                    value='{"id":"{{ ingredient.id }}","amount":"{{ ingredient.recipeingredient_set.get.amount }}","unit":"{{ ingredient.recipeingredient_set.get.measurement_unit }}"}'>
                                {{ ingredient.name }}
                            </td>
                            <td class="text-end">{{ ingredient.recipeingredient_set.get.amount }}</td>
                            <td>{{ ingredient.recipeingredient_set.get.measurement_unit }}</td>
                            <td class="text-end">{{ ingredient.recipeingredient_set.get.formatted_cost }}</td>
                            <td class="text-end"><button type="button" class="btn btn-danger btn-sm">x</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>

            <fieldset>
                <legend>Add ingredient</legend>

                <div id="new_ingredients" class="">
                    <div class="form-floating mb-3">
                        <select class="form-select" id="ingredients_input" placeholder="Recipe's ingredient" required>
                            <option selected disabled>Choose one...</option>
                            {% for ingredient in all_ingredients %}
                            <option value="{{ ingredient.id }}">{{ ingredient.name }} ({{ ingredient.formatted_cost }})</option>
                            {% endfor %}
                        </select>
                        <label for="ingredients_input">Ingredient</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" step="0.01" min="0" class="form-control" id="amount_input" name="amount"
                            placeholder="Recipe's amount" value="0">
                        <label for="amount_input">Amount</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="measurement_input" name="unit"
                            placeholder="Recipe's measurement unit" required>
                            <option selected disabled>Choose one...</option>
                            {% for symbol, unit in all_measurement_units %}
                            <option value="{{ symbol }}">{{ unit }} ({{ symbol }})</option>
                            {% endfor %}
                        </select>
                        <label for="measurement_input">Measurement Unit</label>
                    </div>
                    <button type="button" class="btn btn-success btn-sm">Add ingredient</button>
                </div>

            </fieldset>

            <hr>

            <div class="btn-group" role="group">
                <input type="submit" role="button" class="btn btn-warning" value="Update Recipe">
                <a href="{% url 'recipes:edit' recipe.id %}" role="button" class="btn btn-secondary">Reset</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}